################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/old
/debug
*.bat
/build
/src/BedethequeFetcher.exe
*.spec
*.crplugin
