<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <SHOWRENLOG>0</SHOWRENLOG>
  <SHOWDBGLOG>0</SHOWDBGLOG>
  <DBGONOFF>0</DBGONOFF>
  <DBGLOGMAX>20000</DBGLOGMAX>
  <RENLOGMAX>20000</RENLOGMAX>
  <LANGENFR>FR</LANGENFR>
  <TBTags>
  </TBTags>
  <CBCover>1</CBCover>
  <CBStatus>1</CBStatus>
  <CBGenre>1</CBGenre>
  <CBNotes>1</CBNotes>
  <CBWeb>1</CBWeb>
  <CBCount>1</CBCount>
  <CBSynopsys>1</CBSynopsys>
  <CBImprint>1</CBImprint>
  <CBLetterer>1</CBLetterer>
  <CBPrinted>1</CBPrinted>
  <CBRating>1</CBRating>
  <CBISBN>1</CBISBN>
  <CBLanguage>1</CBLanguage>
  <CBEditor>1</CBEditor>
  <CBFormat>1</CBFormat>
  <CBColorist>1</CBColorist>
  <CBPenciller>1</CBPenciller>
  <CBWriter>1</CBWriter>
  <CBSeries>1</CBSeries>
  <CBTitle>1</CBTitle>
  <CBDefault>0</CBDefault>
  <CBRescrape>0</CBRescrape>
  <ARTICLES>Le,La,Les,L',The</ARTICLES>
  <SUBPATT> - - </SUBPATT>
  <COUNTOF>1</COUNTOF>
  <CBCouverture>1</CBCouverture>
  <COUNTFINIE>1</COUNTFINIE>
  <TITLEIT>1</TITLEIT>
  <TIMEOUT>1000</TIMEOUT>
  <TIMEOUTS>7</TIMEOUTS>
  <TIMEPOPUP>30</TIMEPOPUP>
  <CBStop>2</CBStop>
</configuration>