<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<T0001>
	<FR>Aucun Album selectionée...</FR>
	<EN>No Comic selected...</EN>
</T0001>
<T0002>
	<FR>Erreur !</FR>
	<EN>Error !</EN>
</T0002>
<T0003>
	<FR>Le fichier BD2_Rename_Log.txt est trop grand. Il serait remplacèe</FR>
	<EN>The file BD2_Rename_Log.txt is too big. Confirm cleaning </EN>
</T0003>
<T0004>
	<FR>Fichier de Log</FR>
	<EN>Rename Log File</EN>
</T0004>
<T0005>
	<FR>Le fichier BD2_Debug_Log.txt est trop grand. Il serait remplacèe</FR>
	<EN>The file BD2_Debug_Log.txt is too big. Confirm cleaning </EN>
</T0005>
<T0006>
		<FR>Fichier de Log</FR>
	<EN>Debug Log File</EN>
</T0006>
<T0007>
	<FR> ** Demarrage du traitement **</FR>
	<EN> ** Scraping started **  </EN>
</T0007>
<T0008>
	<FR> Album(s)</FR>
		<EN> Comic(s)</EN>
</T0008>
<T0009>
	<FR>Nom Série = </FR>
	<EN>Series' Name = </EN>
</T0009>
<T0010>
	<FR>Recherche sur le Web avec Nom de Série:</FR>
	<EN>Searching the Web with the Series' Name:</EN>
</T0010>
<T0011>
	<FR>Recherche sur le Web avec No. d'Album [</FR>
	<EN>Searching the Web with the Comic's No. [</EN>
</T0011>
<T0012>
	<FR>Recherche sur le Web comme Album [</FR>
	<EN>Searching the Web like Comic [</EN>
</T0012>
<T0013>
	<FR> ** Renommé **</FR>
	<EN> ** Renamed **</EN>
</T0013>
<T0014>
	<FR> ** Ignoré **</FR>
	<EN> ** Skipped **</EN>
</T0014>
<T0015>
	<FR>Erreur general, pas de BD selectionèe !</FR>
	<EN>General Error! No Comic selected!</EN>
</T0015>
<T0016>
	<FR>Compléte</FR>
	<EN>Completed</EN>
</T0016>
<T0017>
	<FR>Renommés: </FR>
	<EN>Renamed: </EN>
</T0017>
<T0018>
	<FR>Ignorés: </FR>
	<EN>Skipped: </EN>
</T0018>
<T0019>
	<FR>Erreurs présentes: ouvrir DEBUG Log ?</FR>
	<EN>Errors in Scraping: open DEBUG Log ?</EN>
</T0019>
<T0020>
	<FR>Erreur de numérotation !</FR>
	<EN>Scraping error !</EN>
</T0020>
<T0021>
	<FR>Ouvrir Rename Log ?</FR>
	<EN>Open Rename Log ?</EN>
</T0021>
<T0022>
	<FR>Traitement fini !</FR>
	<EN>Scraping Completed !</EN>
</T0022>
<T0023>
	<FR>URL Série: </FR>
	<EN>Series' URL: </EN>
</T0023>
<T0024>
	<FR>** Série non trouvé [</FR>
	<EN>** Series unknown [</EN>
</T0024>
<T0025>
	<FR> non trouvé</FR>
	<EN> not found</EN>
</T0025>
<T0026>
	<FR>** URL de l'Album dans la Série: </FR>
	<EN>** Comic's URL in the Series: </EN>
</T0026>
<T0027>
	<FR>** Album non trouvé comme: [</FR>
	<EN>** Comic is unknown as: [</EN>
</T0027>
<T0028>
	<FR>** Album non trouvé</FR>
	<EN>** Comic unknown</EN>
</T0028>
<T0029>
	<FR>Titre: </FR>
	<EN>Title:</EN>
</T0029>
<T0030>
	<FR>Scenariste(s): </FR>
	<EN>Author(s): </EN>
</T0030>
<T0031>
	<FR>Dessinateur(s): </FR>
	<EN>Penciller(s): </EN>
</T0031>
<T0032>
	<FR>(blanchèe)</FR>
	<EN>(blanked)</EN>
</T0032>
<T0033>
	<FR>Coloriste(s): </FR>
	<EN>Colorist(s): </EN>
</T0033>
<T0034>
	<FR>Dèpot lègal: </FR>
	<EN>Legal Deposit: </EN>
</T0034>
<T0035>
	<FR>Editeur: </FR>
	<EN>Editor: </EN>
</T0035>
<T0036>
	<FR>Langue: </FR>
	<EN>Language: </EN>
</T0036>
<T0037>
	<FR>** Album non trouvé !</FR>
	<EN>** Comic not found !</EN>
</T0037>
<T0038>
	<FR>Lettrage: </FR>
	<EN>Lettering: </EN>
</T0038>
<T0039>
	<FR>Note Album: </FR>
	<EN>Comic's Rating: </EN>
</T0039>
<T0040>
	<FR>Achevé Impr.: </FR>
	<EN>Printed on: </EN>
</T0040>
<T0041>
	<FR>Collection: </FR>
	<EN>Imprint: </EN>
</T0041>
<T0042>
	<FR>Taille: </FR>
	<EN>Format: </EN>
</T0042>
<T0043>
	<FR>échouée!</FR>
	<EN>Failed!</EN>
</T0043>
<T0044>
	<FR>Pour le No. [</FR>
	<EN>For Number [</EN>
</T0044>
<T0045>
	<FR>** Informations de la série utilisées !</FR>
	<EN>** The Series' information has been used !</EN>
</T0045>
<T0046>
	<FR>[No. vide]</FR>
	<EN>[Empty #]</EN>
</T0046>
<T0047>
	<FR> Utilisé les info de Série !</FR>
	<EN> The Series' information has been used !</EN>
</T0047>
<T0048>
	<FR>Le No. [</FR>
	<EN>Number [</EN>
</T0048>
<T0049>
	<FR> n'existe pas pour l'Album ! Verifier.</FR>
	<EN> does not exist for the Comic. Please verify.</EN>
</T0049>
<T0050>
	<FR>N'existe pas pour l'Album ! Verifier.</FR>
	<EN>It doesn't exist for the Comic. Please verify.</EN>
</T0050>
<T0051>
	<FR>Genre: </FR>
	<EN>Genre: </EN>
</T0051>
<T0052>
	<FR>Résumé Serie: trouvé !</FR>
	<EN>Series' Synopsys: found !</EN>
</T0052>
<T0053>
	<FR>** Résumé Serie non trouvé !</FR>
	<EN>** Series' Synopsys NOT found !</EN>
</T0053>
<T0054>
	<FR>Finie</FR>
	<EN>Terminated</EN>
</T0054>
<T0055>
	<FR>En cours</FR>
	<EN>Running</EN>
</T0055>
<T0056>
	<FR>Inconnue</FR>
	<EN>Unknown</EN>
</T0056>
<T0057>
	<FR>Série </FR>
	<EN>Series </EN>
</T0057>
<T0058>
	<FR>Note Série: </FR>
	<EN>Series' Rating: </EN>
</T0058>
<T0059>
	<FR>No. Total Album: </FR>
	<EN>Total N. of Comics: </EN>
</T0059>
<T0060>
	<FR>Acces aux Serveur non reussì</FR>
	<EN>Failed access to the server</EN>
</T0060>
<T0061>
	<FR>Raison: </FR>
	<EN>Reason: </EN>
</T0061>
<T0062>
	<FR>Traitement fichiers</FR>
	<EN>Scraping files</EN>
</T0062>
<T0063>
	<FR>Traitement fichiers </FR>
	<EN>Scraping files </EN>
</T0063>
<T0064>
	<FR>Config Utilisée: </FR>
	<EN>Configuration Used: </EN>
</T0064>
<T0065>
	<FR>Config Sauvée: </FR>
	<EN>Saved Configuration: </EN>
</T0065>
<T0066>
	<FR>Afficher le Rename Log aprés le traitement</FR>
	<EN>Show the Rename Log after scraping</EN>
</T0066>
<T0067>
	<FR>Afficher le Debug Log aprés un erreur</FR>
	<EN>Show the Debug Log after an error</EN>
</T0067>
<T0068>
	<FR>Activer le Debug interne</FR>
	<EN>Activate the internal Debug</EN>
</T0068>
<T0069>
	<FR>Taille MAX Dbg_Log</FR>
	<EN>MAX size Dbg_Log</EN>
</T0069>
<T0070>
	<FR>Taille MAX Ren_Log</FR>
	<EN>MAX size Ren_Log</EN>
</T0070>
<T0071>
	<FR>Série</FR>
	<EN>Series</EN>
</T0071>
<T0072>
	<FR>Titre</FR>
	<EN>Title</EN>
</T0072>
<T0073>
	<FR>Scénario</FR>
	<EN>Author</EN>
</T0073>
<T0074>
	<FR>Dessin</FR>
	<EN>Penciller</EN>
</T0074>
<T0075>
	<FR>Couleurs</FR>
	<EN>Colorist</EN>
</T0075>
<T0076>
	<FR>Lettrage</FR>
	<EN>Letterer</EN>
</T0076>
<T0077>
	<FR>Taille</FR>
	<EN>Format</EN>
</T0077>
<T0078>
	<FR>Editeur</FR>
	<EN>Publisher</EN>
</T0078>
<T0079>
	<FR>Langue</FR>
	<EN>Language</EN>
</T0079>
<T0080>
	<FR>ISBN</FR>
	<EN>ISBN</EN>
</T0080>
<T0081>
	<FR>Note</FR>
	<EN>Rating</EN>
</T0081>
<T0082>
	<FR>Dep.Légal</FR>
	<EN>Leg.Deposit</EN>
</T0082>
<T0083>
	<FR>Collection</FR>
	<EN>Imprint</EN>
</T0083>
<T0084>
	<FR>Résumé</FR>
	<EN>Synopsys</EN>
</T0084>
<T0085>
	<FR>... Sur</FR>
	<EN>... of</EN>
</T0085>
<T0086>
	<FR>Annotat.</FR>
	<EN>Notes</EN>
</T0086>
<T0087>
	<FR>S. Complète</FR>
	<EN>S. Completed</EN>
</T0087>
<T0088>
	<FR>Web</FR>
	<EN>Web</EN>
</T0088>
<T0089>
	<FR>Genre</FR>
	<EN>Genre</EN>
</T0089>
<T0090>
	<FR>Img. Couvert.</FR>
	<EN>Cover Img.</EN>
</T0090>
<T0091>
	<FR>Etiq.</FR>
	<EN>Tags</EN>
</T0091>
<T0092>
	<FR>OK</FR>
	<EN>OK</EN>
</T0092>
<T0093>
	<FR>Annuler</FR>
	<EN>Cancel</EN>
</T0093>
<T0094>
	<FR>Réinit.</FR>
	<EN>Reset</EN>
</T0094>
<T0095>
	<FR>Install.</FR>
	<EN>Setup</EN>
</T0095>
<T0096>
	<FR>Données</FR>
	<EN>Data</EN>
</T0096>
<T0097>
	<FR>Erreur HTTP</FR>
	<EN>HTTP error</EN>
</T0097>
<T0098>
	<FR>Erreur: </FR>
	<EN>Error: </EN>
</T0098>
<T0099>
	<FR>Annuler</FR>
	<EN>Cancel</EN>
</T0099>
<T0100>
	<FR>Résumé Album trouvé !</FR>
	<EN>Comic's Synopsys found !</EN>
</T0100>
<T0101>
	<FR>** Résumé Album non trouvé !</FR>
	<EN>** Comic's Synopsys NOT found !</EN>
</T0101>
<T0102>
	<FR>Coller le lien BD du www.bedetheque.com</FR>
	<EN>Paste Album Link from www.bedetheque.com</EN>
</T0102>
<T0103>
	<FR>Scrape directement un lien</FR>
	<EN>Scrape directly a link</EN>
</T0103>
<T0104>
	<FR>Recherche sur le Web avec Lien direct</FR>
	<EN>Searching the Web with direct link</EN>
</T0104>
<T0105>
	<FR>Couverture trouvée: </FR>
	<EN>Cover found: </EN>
</T0105>
<T0106>
	<FR>Erreur lien !</FR>
	<EN>Link error !</EN>
</T0106>
<T0107>
	<FR>Album trouvé !</FR>
	<EN>Comic found !</EN>
</T0107>
<T0108>
	<FR>Selectionnée: </FR>
	<EN>Selected: </EN>
</T0108>
<T0109>
	<FR>Articles: </FR>
	<EN>Articles: </EN>
</T0109>
<T0110>
	<FR>"Num. de" réel ?</FR>
	<EN>Real "Count of" ?</EN>
</T0110>
<T0111>
	<FR>Série selectionèe: </FR>
	<EN>Selected Series: </EN>
</T0111>
<T0112>
	<FR>Série renommèe: </FR>
	<EN>Series renamed: </EN>
</T0112>
<T0113>
	<FR>Recherche générique dans </FR>
	<EN>Generic search in </EN>
</T0113>
<T0114>
	<FR>La recherche effectuée renvoie trop de résultats pour </FR>
	<EN>The search retrieves too many hits for </EN>
</T0114>
<T0115>
	<FR>Num.: </FR>
	<EN>Number: </EN>
</T0115>
<T0116>
	<FR>Alt. Num.: </FR>
	<EN>Alt. Number: </EN>
</T0116>
<T0117>
	<FR> </FR>
	<EN> </EN>
</T0117>
<T0118>
	<FR>Info édition: </FR>
	<EN>Edition Info: </EN>
</T0118>
<T0119>
	<FR> trouvé !</FR>
	<EN> found !</EN>
</T0119>
<T0120>
	<FR>Couverturiste: </FR>
	<EN>Cover Artist: </EN>
</T0120>
<T0121>
	<FR>Couverturiste</FR>
	<EN>Cover Artist</EN>
</T0121>
<T0122>
	<FR>N. de Planches: </FR>
	<EN>N. of Pages: </EN>
</T0122>
<T0123>
	<FR>** URL de l'Album: </FR>
	<EN>** Comic's URL: </EN>
</T0123>
<T0124>
	<FR># Temps nécessaire pour le Scrape Total: </FR>
	<EN>Time taken to Scrape all: </EN>
</T0124>
<T0125>
	<FR># Temps nécessaire: </FR>
	<EN>Time needed: </EN>
</T0125>
<T0126>
	<FR>Seul si terminée</FR>
	<EN>Only if finished</EN>
</T0126>
<T0127>
	<FR>Titres Formatés</FR>
	<EN>Formatted Titles</EN>
</T0127>
<T0128>
	<FR>Max Scrape</FR>
	<EN>Max Scrape</EN>
</T0128>
<T0129>
	<FR>Intervalle Scrape</FR>
	<EN>Scrape Interval</EN>
</T0129>
<T0130>
	<FR>En attendant...</FR>
	<EN>Waiting...</EN>
</T0130>
<T0131>
	<FR>Periodicité: </FR>
	<EN>Frequency: </EN>
</T0131>
<T0132>
	<FR>Choisissez une Série pour </FR>
	<EN>Pick a Series for </EN>
</T0132>
<T0133>
	<FR>Choisissez une Revue pour </FR>
	<EN>Pick a Mag for </EN>
</T0133>
<T0134>
	<FR>Coller le lien Revue du www.bedetheque.com</FR>
	<EN>Paste Magazine Link from www.bedetheque.com</EN>
</T0134>
<T0135>
	<FR>N. Revue</FR>
	<EN>Magazine #</EN>
</T0135>
<T0136>
	<FR>Val. Proposée</FR>
	<EN>Proposed Val.</EN>
</T0136>
<T0137>
	<FR>Rescrape de Web</FR>
	<EN>Rescrape from Web</EN>
</T0137>
<T0138>
	<FR>Rescraping...</FR>
	<EN>Rescraping...</EN>
</T0138>
<T0139>
	<FR>Vous exécutez un Rescrape: Les Albums sans lien Web seront ignoré. Confirmer ?</FR>
	<EN>You are Rescraping: All Albums without a Web link will be ignored. Confirm ?</EN>
</T0139>
<T0140>
	<FR>Interruption de %% secondes...</FR>
	<EN>Pausing for timeout of %% seconds...</EN>
</T0140>
<T0141>
	<FR>Pause scrape</FR>
	<EN>Pause scraping</EN>
</T0141>
<T0142>
	<FR>Album ignoré, non univoque</FR>
	<EN>Album ignored, not univoque</EN>
</T0142>
<T0143>
	<FR>Erreur ! Trop liens selectionèe!</FR>
	<EN>Error ! Too many items selected!</EN>
</T0143>
<T0144>
	<FR>Articles Formatés (Séries)</FR>
	<EN>Formatted Articles (Series)</EN>
</T0144>
<T0145>
	<FR>Choisissez une Édition pour </FR>
	<EN>Pick an Edition for </EN>
</T0145>
<T0146>
	<FR>Choisissez un Album pour </FR>
	<EN>Pick an Album for </EN>
</T0146>
<T0147>
	<FR>Éditions Automatique</FR>
	<EN>Automatic Editions</EN>
</T0147>
<T0148>
	<FR>Compl. no. album avec 0</FR>
	<EN>Pad album number with 0</EN>
</T0148>
</configuration>