<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<T0001>
    <FR>Aucun album sélectionné...</FR>
    <EN>No comic book selected...</EN>
</T0001>
<T0002>
    <FR>Erreur !</FR>
    <EN>Error !</EN>
</T0002>
<T0003>
    <FR>Le fichier BD2_Rename_Log.txt est trop grand. Confirmez le remplacement</FR>
    <EN>The file BD2_Rename_Log.txt is too big. Confirm cleaning </EN>
</T0003>
<T0004>
    <FR>Fichier de Log</FR>
    <EN>Rename Log File</EN>
</T0004>
<T0005>
    <FR>Le fichier BD2_Debug_Log.txt est trop grand. Confirmez le remplacement</FR>
    <EN>The file BD2_Debug_Log.txt is too big. Confirm cleaning </EN>
</T0005>
<T0006>
    <FR>Fichier de Log</FR>
    <EN>Debug Log File</EN>
</T0006>
<T0007>
    <FR> ** Démarrage du traitement **</FR>
    <EN> ** Scraping started **  </EN>
</T0007>
<T0008>
    <FR> Album(s)</FR>
    <EN> Comic(s)</EN>
</T0008>
<T0009>
    <FR>Nom de la série = </FR>
    <EN>Series' name = </EN>
</T0009>
<T0010>
    <FR>Recherche sur le web avec le nom de série:</FR>
    <EN>Searching the web with the series' name:</EN>
</T0010>
<T0011>
    <FR>Recherche sur le web avec numéro d'album [</FR>
    <EN>Searching the web with the comic book's number [</EN>
</T0011>
<T0012>
    <FR>Recherche sur le web comme album [</FR>
    <EN>Searching the web like comic book [</EN>
</T0012>
<T0013>
    <FR> ** Traité **</FR>
    <EN> ** Processed **</EN>
</T0013>
<T0014>
    <FR> ** Ignoré **</FR>
    <EN> ** Skipped **</EN>
</T0014>
<T0015>
    <FR>Erreur générale, pas d'album sélectionné !</FR>
    <EN>General Error! No comic book selected!</EN>
</T0015>
<T0016>
    <FR>Fini</FR>
    <EN>Complete</EN>
</T0016>
<T0017>
    <FR>Traités: </FR>
    <EN>Processed: </EN>
</T0017>
<T0018>
    <FR>Ignorés: </FR>
    <EN>Skipped: </EN>
</T0018>
<T0019>
    <FR>Erreurs présentes: ouvrir le log de debug ?</FR>
    <EN>Errors in scraping: open debug log ?</EN>
</T0019>
<T0020>
    <FR>Erreur de traitement !</FR>
    <EN>Scraping error !</EN>
</T0020>
<T0021>
    <FR>Ouvrir le rapport ?</FR>
    <EN>Open report ?</EN>
</T0021>
<T0022>
    <FR>Traitement fini !</FR>
    <EN>Scraping completed !</EN>
</T0022>
<T0023>
    <FR>Lien internet de la série: </FR>
    <EN>Web link of the series: </EN>
</T0023>
<T0024>
    <FR>** Série non trouvée [</FR>
    <EN>** Series unknown [</EN>
</T0024>
<T0025>
    <FR> non trouvé</FR>
    <EN> not found</EN>
</T0025>
<T0026>
    <FR>** Lien internet de l'album: </FR>
    <EN>** Comic book's web link: </EN>
</T0026>
<T0027>
    <FR>** Album non trouvé comme: [</FR>
    <EN>** Comic book is unknown as: [</EN>
</T0027>
<T0028>
    <FR>** Album non trouvé</FR>
    <EN>** Comic book unknown</EN>
</T0028>
<T0029>
    <FR>Titre de l'album: </FR>
    <EN>Comic book's title: </EN>
</T0029>
<T0030>
    <FR>Scénariste(s) de l'album</FR>
    <EN>Comic book's author(s)</EN>
</T0030>
<T0031>
    <FR>Dessinateur(s) de l'album</FR>
    <EN>Comic book's penciller(s)</EN>
</T0031>
<T0032>
    <FR>(ignoré)</FR>
    <EN>(blanked)</EN>
</T0032>
<T0033>
    <FR>Coloriste(s) de l'album</FR>
    <EN>Comic book's colorist(s)</EN>
</T0033>
<T0034>
    <FR>Date de publication de l'album: </FR>
    <EN>Comic book's publication date: </EN>
</T0034>
<T0035>
    <FR>Éditeur de la série: </FR>
    <EN>Series' publisher: </EN>
</T0035>
<T0036>
    <FR>Langue de la série: </FR>
    <EN>Series' language: </EN>
</T0036>
<T0037>
    <FR>Chaîne de fin nom de série à supprimer</FR>
    <EN>Series' name ending string to suppress</EN>
</T0037>
<T0038>
    <FR>Lettreur(s) de l'album</FR>
    <EN>Comic book's letterer(s)</EN>
</T0038>
<T0039>
    <FR>Évaluation de l'album: </FR>
    <EN>Comic book's rating: </EN>
</T0039>
<T0040>
    <FR>Achevé d'imprimer: </FR>
    <EN>Printed on: </EN>
</T0040>
<T0041>
    <FR>Marque d'éditeur de l'album (Collection): </FR>
    <EN>Comic book's imprint: </EN>
</T0041>
<T0042>
    <FR>Format de l'album: </FR>
    <EN>Comic book's format: </EN>
</T0042>
<T0043>
    <FR>Échec!</FR>
    <EN>Failed!</EN>
</T0043>
<T0044>
    <FR>Fermeture automatique du pop-up de choix après (en s)</FR>
    <EN>Automatically close choice pop-up after (s)</EN>
</T0044>
<T0045>
    <FR>Ignorer et passer à la suite</FR>
    <EN>Ignore and skip to the next item</EN>
</T0045>
<T0046>
    <FR>Demander à l'utilisateur de choisir</FR>
    <EN>User choose between choices</EN>
</T0046>
<T0047>
    <FR>Logging</FR>
    <EN>Logging</EN>
</T0047>
<T0048>
    <FR>Utiliser des liens internet raccourcis pour les albums</FR>
    <EN>Use shortened web links for comic books</EN>
</T0048>
<T0049>
    <FR> n'existe pas pour l'album ! Vérifiez SVP.</FR>
    <EN> does not exist for the comic book. Please verify.</EN>
</T0049>
<T0050>
    <FR>N'existe pas pour l'album ! Vérifiez SVP.</FR>
    <EN>It doesn't exist for the comic book. Please verify.</EN>
</T0050>
<T0051>
    <FR>Genre: </FR>
    <EN>Genre: </EN>
</T0051>
<T0052>
    <FR>Résumé de la série trouvé !</FR>
    <EN>Series' synopsis found !</EN>
</T0052>
<T0053>
    <FR>** Résumé de la série non trouvé !</FR>
    <EN>** Series' synopsis not found !</EN>
</T0053>
<T0054>
    <FR>Finie</FR>
    <EN>Terminated</EN>
</T0054>
<T0055>
    <FR>En cours</FR>
    <EN>Running</EN>
</T0055>
<T0056>
    <FR>Inconnue</FR>
    <EN>Unknown</EN>
</T0056>
<T0057>
    <FR>État de parution de la série: </FR>
    <EN>Publication state of the series:</EN>
</T0057>
<T0058>
    <FR>Évaluation de la série: </FR>
    <EN>Series' rating: </EN>
</T0058>
<T0059>
    <FR>Nombre total d'albums: </FR>
    <EN>Total number of comics: </EN>
</T0059>
<T0060>
    <FR>Échec d'accés au serveur</FR>
    <EN>Failed access to the server</EN>
</T0060>
<T0061>
    <FR>Raison: </FR>
    <EN>Reason: </EN>
</T0061>
<T0062>
    <FR>Traitement des fichiers</FR>
    <EN>Scraping files</EN>
</T0062>
<T0063>
    <FR>Traitement des fichiers </FR>
    <EN>Scraping files </EN>
</T0063>
<T0064>
    <FR>Configuration utilisée: </FR>
    <EN>Configuration used: </EN>
</T0064>
<T0065>
    <FR>Configuration sauvegardée: </FR>
    <EN>Saved configuration: </EN>
</T0065>
<T0066>
    <FR>Afficher le rapport après le traitement</FR>
    <EN>Show report after scraping</EN>
</T0066>
<T0067>
    <FR>Afficher le log de debug après une erreur</FR>
    <EN>Show the debug log after an error</EN>
</T0067>
<T0068>
    <FR>Activer le log de debug</FR>
    <EN>Activate the debug log</EN>
</T0068>
<T0069>
    <FR>Taille maximale du fichier de log de debug (en MO)</FR>
    <EN>Maximum size of debug log file (MB)</EN>
</T0069>
<T0070>
    <FR>Taille maximale du fichier de rapport (en MO)</FR>
    <EN>Maximum size of the report file (MB)</EN>
</T0070>
<T0071>
    <FR>Nom de la série</FR>
    <EN>Series' name</EN>
</T0071>
<T0072>
    <FR>Titre de l'album</FR>
    <EN>Comic book's title</EN>
</T0072>
<T0073>
    <FR>Encreur(s) de l'album</FR>
    <EN>Comic book's inker(s)</EN>
</T0073>
<T0074>
    <FR>Accepter les valeurs génériques d'artiste (&lt;Collectif&gt;, ...)</FR>
    <EN>Accept generic artist values (&lt;Collectif&gt;, ...)</EN>
</T0074>
<T0075>
    <FR> </FR>
    <EN> </EN>
</T0075>
<T0076>
    <FR> </FR>
    <EN> </EN>
</T0076>
<T0077>
    <FR>Format de la série</FR>
    <EN>Series' format</EN>
</T0077>
<T0078>
    <FR>Éditeur de la série</FR>
    <EN>Series' publisher</EN>
</T0078>
<T0079>
    <FR>Langue de la série</FR>
    <EN>Series' language</EN>
</T0079>
<T0080>
    <FR>Numéro ISBN/EAN de l'album</FR>
    <EN>Comic book's ISBN/EAN number</EN>
</T0080>
<T0081>
    <FR>Évaluation de l'album</FR>
    <EN>Comic book's rating</EN>
</T0081>
<T0082>
    <FR>Date de publication de l'album</FR>
    <EN>Comic book's publication date</EN>
</T0082>
<T0083>
    <FR>Marque d'éditeur de l'album (Collection)</FR>
    <EN>Comic book's imprint</EN>
</T0083>
<T0084>
    <FR>Résumé de la série et de l'album</FR>
    <EN>Series and comic book's synopsis</EN>
</T0084>
<T0085>
    <FR>Nombre total d'albums dans la série</FR>
    <EN>Total number of comic books in the series</EN>
</T0085>
<T0086>
    <FR>Annotations de l'album</FR>
    <EN>Comic book's notes</EN>
</T0086>
<T0087>
    <FR>Série complète</FR>
    <EN>Series complete</EN>
</T0087>
<T0088>
    <FR>Lien internet de l'album</FR>
    <EN>Comic book's web link</EN>
</T0088>
<T0089>
    <FR>Genre de la série</FR>
    <EN>Series' genre</EN>
</T0089>
<T0090>
    <FR>Image de couverture de l'album</FR>
    <EN>Comic book's cover image</EN>
</T0090>
<T0091>
    <FR>Étiquettes des albums</FR>
    <EN>Comic books' tags</EN>
</T0091>
<T0092>
    <FR>OK</FR>
    <EN>OK</EN>
</T0092>
<T0093>
    <FR>Annuler</FR>
    <EN>Cancel</EN>
</T0093>
<T0094>
    <FR>Tout désélectionner</FR>
    <EN>Uncheck all</EN>
</T0094>
<T0095>
    <FR>Préférences</FR>
    <EN>Settings</EN>
</T0095>
<T0096>
    <FR>Données</FR>
    <EN>Data</EN>
</T0096>
<T0097>
    <FR>Erreur HTTP</FR>
    <EN>HTTP error</EN>
</T0097>
<T0098>
    <FR>Erreur: </FR>
    <EN>Error: </EN>
</T0098>
<T0099>
    <FR>Annuler</FR>
    <EN>Cancel</EN>
</T0099>
<T0100>
    <FR>Résumé de l'album trouvé !</FR>
    <EN>Comic book's synopsis found !</EN>
</T0100>
<T0101>
    <FR>** Résumé de l'album non trouvé !</FR>
    <EN>** Comic book's synopsis not found !</EN>
</T0101>
<T0102>
    <FR>Coller le lien internet de l'album provenant de www.bedetheque.com</FR>
    <EN>Paste comic book's web link from www.bedetheque.com</EN>
</T0102>
<T0103>
    <FR>Scrape directement un lien</FR>
    <EN>Scrape directly a link</EN>
</T0103>
<T0104>
    <FR>Recherche sur le web avec un lien direct</FR>
    <EN>Searching the web with direct link</EN>
</T0104>
<T0105>
    <FR>Couverture trouvée: </FR>
    <EN>Cover found: </EN>
</T0105>
<T0106>
    <FR>Erreur lien !</FR>
    <EN>Link error !</EN>
</T0106>
<T0107>
    <FR>Album trouvé !</FR>
    <EN>Comic book found !</EN>
</T0107>
<T0108>
    <FR>Sélectionnés: </FR>
    <EN>Selected: </EN>
</T0108>
<T0109>
    <FR>Articles principaux</FR>
    <EN>Leading articles</EN>
</T0109>
<T0110>
    <FR>Nombre total d'albums basé sur la numérotation des tomes</FR>
    <EN>Total number of comic books from volume numbering</EN>
</T0110>
<T0111>
    <FR>Série sélectionnée: </FR>
    <EN>Selected series: </EN>
</T0111>
<T0112>
    <FR>Langue du plugin</FR>
    <EN>Plugin language</EN>
</T0112>
<T0113>
    <FR>Recherche générique dans </FR>
    <EN>Generic search in </EN>
</T0113>
<T0114>
    <FR>La recherche effectuée renvoie trop de résultats pour </FR>
    <EN>The search retrieves too many hits for </EN>
</T0114>
<T0115>
    <FR>Numéro: </FR>
    <EN>Number: </EN>
</T0115>
<T0116>
    <FR>Numéro alternatif: </FR>
    <EN>Alternate Number: </EN>
</T0116>
<T0117>
    <FR>Tout sélectionner</FR>
    <EN>Check all</EN>
</T0117>
<T0118>
    <FR>Info édition: </FR>
    <EN>Edition info: </EN>
</T0118>
<T0119>
    <FR> trouvé !</FR>
    <EN> found !</EN>
</T0119>
<T0120>
    <FR> </FR>
    <EN> </EN>
</T0120>
<T0121>
    <FR>Artiste(s) de couverture de l'album</FR>
    <EN>Comic book's cover artist(s)</EN>
</T0121>
<T0122>
    <FR>Nombre de planches: </FR>
    <EN>Number of pages: </EN>
</T0122>
<T0123>
    <FR>** Lien internet de l'album: </FR>
    <EN>** Comic book's web link: </EN>
</T0123>
<T0124>
    <FR># Temps nécessaire pour le traitement total: </FR>
    <EN>Time taken to scrape all: </EN>
</T0124>
<T0125>
    <FR># Temps nécessaire: </FR>
    <EN>Time needed: </EN>
</T0125>
<T0126>
    <FR>Nombre total d'albums seulement si la série est terminée</FR>
    <EN>Total number of comic books only if series is complete</EN>
</T0126>
<T0127>
    <FR>Convention Pascal Case pour les noms de séries et d'albums</FR>
    <EN>Pascal Case convention for series and books' names</EN>
</T0127>
<T0128>
    <FR>Nombre maximal d'albums à traiter</FR>
    <EN>Maximal book number to scrape</EN>
</T0128>
<T0129>
    <FR>Temps de pause entre 2 albums (en s)</FR>
    <EN>Waiting time between 2 books (s)</EN>
</T0129>
<T0130>
    <FR>En cours...</FR>
    <EN>Waiting...</EN>
</T0130>
<T0131>
    <FR>Périodicité: </FR>
    <EN>Frequency: </EN>
</T0131>
<T0132>
    <FR>Choisissez une série pour </FR>
    <EN>Pick a series for </EN>
</T0132>
<T0133>
    <FR>Choisissez une revue pour </FR>
    <EN>Pick a Mag for </EN>
</T0133>
<T0134>
    <FR>Coller le lien de la revue depuis www.bedetheque.com</FR>
    <EN>Paste magazine link from www.bedetheque.com</EN>
</T0134>
<T0135>
    <FR>Numéro de la revue</FR>
    <EN>Magazine number</EN>
</T0135>
<T0136>
    <FR>Utiliser les valeurs proposées provenant du nom de fichier</FR>
    <EN>Use proposed values from filename</EN>
</T0136>
<T0137>
    <FR>Exécuter un rescrape à partir des liens internet des albums</FR>
    <EN>Process a rescrape from comic books' web links</EN>
</T0137>
<T0138>
    <FR>Rescraping...</FR>
    <EN>Rescraping...</EN>
</T0138>
<T0139>
    <FR>Vous exécutez un rescrape: les albums sans lien web seront ignorés. Confirmer ?</FR>
    <EN>You are rescraping: all albums without a web link will be ignored. Confirm ?</EN>
</T0139>
<T0140>
    <FR>Interruption de %% secondes...</FR>
    <EN>Pausing for timeout of %% seconds...</EN>
</T0140>
<T0141>
    <FR>Décision lorsqu'une ambiguité de choix de série ou d'album se présente</FR>
    <EN>Decision when an ambiguity in the choice of series or book arises</EN>
</T0141>
<T0142>
    <FR>Album ignoré, non univoque</FR>
    <EN>Album ignored, not univoque</EN>
</T0142>
<T0143>
    <FR>Erreur ! Trop liens selectionèe!</FR>
    <EN>Error ! Too many items selected!</EN>
</T0143>
<T0144>
    <FR>Déplacer les articles principaux du nom des séries à la fin</FR>
    <EN>Moving leading articles of series' name to the end</EN>
</T0144>
<T0145>
    <FR>Choisissez une édition pour </FR>
    <EN>Pick an edition for </EN>
</T0145>
<T0146>
    <FR>Choisissez un album pour </FR>
    <EN>Pick an comic book for </EN>
</T0146>
<T0147>
    <FR>Choix automatique de l'édition des albums</FR>
    <EN>Automatic choice of comic books' edition</EN>
</T0147>
<T0148>
    <FR>Longueur des numéros d'album (complétée à gauche par 0)</FR>
    <EN>Length of the comic book's numbers (left-padded with 0)</EN>
</T0148>
<T0149>
    <FR>Résumé de la série sur le 1er tome seulement</FR>
    <EN>Series' synopsis on 1st comic book only</EN>
</T0149>
<T0150>
    <FR>Remplacer le format de l'album par "One Shot" si applicable</FR>
    <EN>Replace comic book's format by "One Shot" if applicable</EN>
</T0150>
<T0151>
    <FR>Toujours choisir les séries manuellement</FR>
    <EN>Always choose series manually</EN>
</T0151>
</configuration>